@font-face {
    font-family: "Apercu-Regular";
    src: url('../fonts/apercu/apercu_regular_pro.otf');
}

@font-face {
    font-family: "Apercu-Bold";
    src: url('../fonts/apercu/apercu_bold_pro.otf');
}

@font-face {
    font-family: "Manrope-Regular";
    src: url('../fonts/manrope/regular.otf');
}

@font-face {
    font-family: "Manrope-Bold";
    src: url('../fonts/manrope/bold.otf');
}

/* HTML and BODY */
body, html {
    margin: 0 auto;
    font-family: "Apercu-Regular";
}

.fullscreen {
    height: 100vh;
    margin: 0 auto;
}

/* Title Styles */
.title {
    text-align: left;
    padding-left: 35px;
}

.title h1 {
    font-family: "Apercu-Bold";
    font-size: 6em;
    margin-bottom: 0;
    letter-spacing: 1px;
    line-height: 105px;
}

.title h3 {
    font-weight: 100;
    text-align: left;
    margin-top: 0;
    font-size: 1.8em;
}

/* Table Styles */
table {
    height: 100vh;
    width: 100vw;
}

table, th, td {
    /* border: 1px solid #aaa;
    border-collapse: collapse; */
    margin: 0;
}

td {
    max-width: 300px;
}

.header-table {
    width: 25%;
    color: #fff;
    padding: 40px;
}

/* YEAR 1 */
.year1 .header-table {
    background-color: #2D3047;
}

/* YEAR 2 */
.year2 .header-table {
    background-color: #462255;
}

/* YEAR 3 */
.year3 .header-table {
    background-color: #465775;
}

.header-table h1 {
    font-family: "Apercu-Bold";
    margin-bottom: 5px;
    font-size: 3.8em;
    letter-spacing: 2px;
}

.header-table h4 {
    margin-top: 0;
    font-weight: 100;
    font-size: 1.8em;
}

/* YEAR 1 */
.year1 .last-row {
    height: 5em;
}

.year1 .img-mod {
    max-width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.year1 .whitespace-col {
    width: 20px;
}

/* YEAR 2 AND 3 */
.year2 .last-row, .year3 .last-row {
    height: 3em;
}

.year2 .img-mod, .year3 .img-mod {
    max-width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.year2 .whitespace-col, .year3 .whitespace-col  {
    width: 20px;
}

/* MODAL WINDOW */
#modal_wrapper.overlay::before {
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #919191;
    opacity: 0.69;
}

#modal_window {
    display: none;
    z-index: 200;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 75vw;
    height: 75vh;
    padding: 0px 20px;
    background: #fff;
    border-radius: 32.6px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    padding-bottom: 20px;
    padding-top: 0px;
}

#modal_wrapper.overlay #modal_window {
    display: block;
}

.btnClose {
    text-decoration: none;
    color: black;
    width: 100px;
}

#right-align {
    text-align: right;
    margin-right: -45px;
    margin-top: -35px;
}

#left-align {
    text-align: left;
}

.card {
    position: fixed;
    left: 10.4%;
    top: 11.5%;
    padding: 0px 20px;
    height: 77vh;
}
