@font-face {
  font-family: "Apercu-Regular";
  src: url('../fonts/apercu/apercu_regular_pro.otf');
}

@font-face {
  font-family: "Apercu-Bold";
  src: url('../fonts/apercu/apercu_bold_pro.otf');
}

@font-face {
  font-family: "Manrope-Regular";
  src: url('../fonts/manrope/regular.otf');
}

@font-face {
  font-family: "Manrope-Bold";
  src: url('../fonts/manrope/bold.otf');
}

/* HTML and BODY */
body {
  margin: 0 auto;
  font-family: "Apercu-Regular";
}

#container {
  height: 100vh;
}

#sidebar {
    position: relative;
}

#sidebar-img {
  height: 100vh;
  margin: 0 auto;
  float: left;
}

#qr-code-div {
  width: 300px;
  float: left;
  position: absolute;
  text-align: center;
  left: 145px;
  top: 120px;
}

#qr-code {
  border-radius: 20px;
  width: 250px;
}

#qr-code-desc {
  color: #fff;
  white-space: pre-line;
  font-size: 35px;
}

#side-content {
  margin-left: 615px;
}

/* Title Styles */
#title {
  margin-top: -40px;
}

#title h1 {
  font-family: "Apercu-Bold";
  font-size: 135px;
  margin-bottom: 0;
  letter-spacing: 1px;
  line-height: 145px;
  margin-top: 40px;
  padding-top: 35px;
}

#title h3 {
font-weight: 100;
text-align: left;
margin-top: -20px;
font-size: 35px;
margin-bottom: 10px;
}

/* FILTER BUTTONS */
.btn {
  font-family: "Apercu-Bold";
  display: inline-block;
  background-color: #fff;
  padding: 11px 0;
  border: 3px solid #FF5A5F;
  border-radius: 12px;
  color: #FF5A5F;
  font-size: 22px;
  cursor: pointer;
  outline: none;
  width: 300px;
  margin-right: 5px;
  margin: 5px;
}

.btn:active, .btn.is-checked {
  color: #fff;
  background-color: #FF5A5F;
}

.btn .is-checked {
  color: #fff;
  background-color: #FF5A5F;
}

#filters {
  display: inline-block;
  padding-bottom: 8px;
  margin-bottom: 12px;
}

#filters h3 {
  font-family: "Apercu-Bold";
  display: inline-block;
  margin-right: 20px;
  font-size: 30px;
  color: #FF5A5F;
}

#filters .btn-group {
  display: inline-block;
  margin-right: 20px;
}

.btn-group {
  margin-top: 15px;
}

/* Disable Card for Filters */
.is-disabled {
  opacity: 0.3;
  transition: all 0.5s;
  pointer-events: none;
}

/* MODULES CONTENT */
.module-container {
  white-space: nowrap;
  max-height: 290px;
  margin-bottom: 5px;
  overflow-x: scroll;
  overflow-y: hidden;
  left: 0;
  top: 0;
}

.module-div {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
  transition: 0.6s;
  transform-style: preserve-3d;
}

.is-flipped {
  transform: rotateY(-180deg);
}

.module-bg {
  width: 285px;
  padding: 0 5px;
  margin: 0 auto;
}

/* FRONT CONTENT */
.module-front-content-div {
  display: inline-block;
  top: 52%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.module-img {
  height: 130px;
  z-index: 100;
  margin: 0 auto;
  display: block;
  padding-bottom: 5px;
}

.module-name-div {
  width: 270px;
  display: block;
  margin: 0 auto;
  margin: -24px 0;
  z-index: 100;
  white-space: pre-line;
}

.module-name {
  font-family: "Apercu-Bold";
  font-size: 30px;
  text-align: center;
  color: #fff;
}

.module-front-content-div, .module-back-content-div {
  backface-visibility: hidden;
	position: absolute;
}

/* BACK CONTENT */
.module-back-content-div {
  transform: translate(-100%) rotateY(180deg);
  display: inline-block;
  z-index: 20;
}

.module-name-back-div {
  width: 260px;
  white-space: pre-line;
  margin: 0 auto;
  margin-left: 14px;
  /* border: 1px solid red; */
}

.module-name-back {
  font-family: "Apercu-Bold";
  font-size: 30px;
  text-align: center;
  color: #fff;
  padding-top: 2px;
}

.module-desc-div {
  width: 240px;
  height: 100%;
  white-space: pre-line;
  margin: 0 auto;
  margin-top: -28px;
  margin-left: 24px;
}

.module-desc {
  font-size: 18px;
  color: #fff;
  margin-top: -8px;
}

.module-aoi {
  color: #fff;
  font-size: 15px;
  text-align: center;
  font-style: italic;
  letter-spacing: 1px;
  margin-top: 32px;
}

/* Remove scrollbar space */
::-webkit-scrollbar {
   width: 0;
   height: 0;
   background: transparent;
}

/* AUTO SCROLL */
#year1-content {
  animation: autoscroll-year1 10.15s linear infinite;
}

#year2-content {
  animation: autoscroll-year2 37s linear infinite;
}

#year3-content {
  animation: autoscroll-year3 31s linear infinite;
}
