@font-face {
  font-family: "Apercu-Regular";
  src: url('../fonts/apercu/apercu_regular_pro.otf');
}

@font-face {
  font-family: "Apercu-Bold";
  src: url('../fonts/apercu/apercu_bold_pro.otf');
}

@font-face {
  font-family: "Manrope-Regular";
  src: url('../fonts/manrope/regular.otf');
}

@font-face {
  font-family: "Manrope-Bold";
  src: url('../fonts/manrope/bold.otf');
}

/* HTML and BODY */
body {
  margin: 0 auto;
  font-family: "Apercu-Regular";
}

#container {
  height: 100vh;
}

#sidebar img {
  height: 100vh;
  margin: 0 auto;
  float: left;
}

#side-content {
  margin-left: 630px;
}

/* Title Styles */
#title {
  margin-top: -65px;
}

#title h1 {
  font-family: "Apercu-Bold";
  font-size: 145px;
  margin-bottom: 0;
  letter-spacing: 1px;
  line-height: 160px;
  margin-top: 65px;
  padding-top: 65px;
}

#title h3 {
  font-weight: 100;
  text-align: left;
  margin-top: -15px;
  font-size: 40px;
  margin-bottom: -5px;
}

/* FILTER BUTTONS */
.btn {
  font-family: "Apercu-Bold";
  display: inline-block;
  background-color: #fff;
  padding: 0.5em 0;
  border: 3px solid #FF5A5F;
  border-radius: 12px;
  color: #FF5A5F;
  font-size: 23px;
  cursor: pointer;
  outline: none;
  width: 300px;
  margin-right: 5px;
}

.btn:active, .btn.is-checked {
  color: #fff;
  background-color: #FF5A5F;
}

.btn .is-checked {
  color: #fff;
  background-color: #FF5A5F;
}

.filter-group {
  display: inline-block;
  padding-bottom: 15px;
  margin-bottom: 12px;
}

.filter-group h3 {
  font-family: "Apercu-Bold";
  display: inline-block;
  margin-right: 20px;
  font-size: 25px;
  color: #FF5A5F;
}

.filter-group .btn-group {
  display: inline-block;
  margin-right: 20px;
}

/* MODULES CONTENT */
.module-container {
  overflow: auto;
  white-space: nowrap;
  height: 305px;
  margin-bottom: 5px;
  overflow: scroll;
}

.module-div {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
  transition: 0.6s;
  transform-style: preserve-3d;
}

.is-flipped {
  transform: rotateY(-180deg);
}

.module-bg {
  width: 303px;
  padding: 0 5px;
  margin: 0 auto;
}

/* FRONT CONTENT */
.module-front-content-div {
  display: inline-block;
  top: 52%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.module-img {
  height: 140px;
  z-index: 100;
  margin: 0 auto;
  display: block;
  padding-bottom: 5px;
}

.module-name-div {
  width: 280px;
  display: block;
  margin: 0 auto;
  margin: -24px 0;
  z-index: 100;
  white-space: pre-line;
}

.module-name {
  font-family: "Apercu-Bold";
  font-size: 32px;
  text-align: center;
  color: #fff;
}

.module-front-content-div, .module-back-content-div {
  backface-visibility: hidden;
	position: absolute;
}

/* BACK CONTENT */
.module-back-content-div {
  transform: translate(-100%) rotateY(180deg);
  display: inline-block;
  z-index: 20;
}

.module-name-back-div {
  width: 275px;
  white-space: pre-line;
  margin: 0 auto;
  margin-left: 17.5px;
}

.module-name-back {
  font-family: "Apercu-Bold";
  font-size: 32px;
  text-align: center;
  color: #fff;
  padding-top: 2px;
}

.module-desc-div {
  width: 260px;
  height: 100%;
  white-space: pre-line;
  margin: 0 auto;
  margin-top: -28px;
  margin-left: 30px;
  /* border: 1px solid blue; */
}

.module-desc {
  font-size: 21px;
  color: #fff;
}


/* ul, li {
  list-style: none;
}

.tg-list {
    text-align: center;
    display: flex;
}

.tg-list-item {
    border: 2px solid #FF5A5F;
    border-radius: 8px;
}

.tgl {
    display: none;
}

.tgl + .tgl-btn {
    display: block;
    width: 182px;
    height: 35px;
    cursor: pointer;
    font-family: "Apercu-Bold";
    border-radius: 5px;
    margin: 0 auto;
}

.tgl-filter + .tgl-btn {
    transition: all .2s ease;
    color: #FF5A5F;
}

.tgl-filter + .tgl-btn:after, .tgl-filter + .tgl-btn:before {
    transition: all .2s ease;
    width: 100%;
    text-align: center;
    color: #fff;
}

.tgl-filter:checked + .tgl-btn {
    background-color: #FF5A5F;
    color: #fff;
    border-radius: 5px;
} */
